body{
    background-color: #4AA0E6;
}
.ms_table{
    width: 80%;
    margin: 0 auto;
    border-spacing: none;
    color: #fff;

    thead{
        text-transform: uppercase;
        font-weight: bold;
        tr{
            background-color: #2C3845;
        }
    }
    
}
th,
td{
    text-align: center;
}
tr:nth-child(odd){
    background-color: #202932;
}
tr:nth-child(even){
    background-color: #2C3845;
}
td:last-child{
    display: flex;
    gap: 5px;
}